NAME=Delta-chan
AVATAR=https://images-ext-1.discordapp.net/external/UyHOJud2NSmnoS2M8p7Koza_vjAN7cni7_lHoiz7KRE/%3Fsize%3D2048/https/cdn.discordapp.com/avatars/977683450230354010/7ce36c4fd189e763b14b3a83769b96a9.png?width=620&height=620
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=true
VERSION=latest
APT=discord, python-dotenv, python-dateutil
